<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Home Page </title>
</head>
<body>
  <h1>Home Page</h1>
  <ul>
    <li><a href="/Users/charlie/Documents/code/web_tech_practicals/advanced_database_systems/week_2/views/common/index.html">Home</a></li>
    <li><a href="/Users/charlie/Documents/code/web_tech_practicals/advanced_database_systems/week_2/views/common/browse.html">Browse Wines</a></li>
    <li><a href="/Users/charlie/Documents/code/web_tech_practicals/advanced_database_systems/week_2/views/common/review.html">Review A Wine</a></li>
</ul> 
    <img src="/Users/charlie/Documents/code/web_tech_practicals/advanced_database_systems/week_2/views/selection_of_wines.jpg" alt="Wines" />
  </body>
</html>